tensorflow==2.21.0
tensorflow-hub==0.16.1
tf-keras==2.21.0
tensorflowjs==4.22.0
numpy==2.4.6
matplotlib==3.11.1
seaborn==0.13.2
scikit-learn==1.9.0
pillow==12.3.0
jupyter==1.1.1
ipykernel==7.3.0
nbconvert==7.17.1
